In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('/Users/hayakawafutaba/Lecture/DSPR/DS_Pro/local/local.csv')
df

       日付  睡眠時間
0    12/1     8
1    12/2     6
2    12/3     7
3    12/4     5
4    12/5     7
5    12/6     8
6    12/7     6
7    12/8     6
8    12/9     6
9   12/10     7
10  12/11     5
11  12/12     4
12  12/13     6
13  12/14     6
14  12/15     7
15  12/16    12
16  12/17     8
17  12/18     8
18  12/19     6
19  12/20     6
20  12/21     5
21  12/22     2
22  12/23     2
23  12/24    11
24  12/25     9
25  12/26     8
26  12/27     9
27  12/28     9
28  12/29     9
29  12/30     9
30  12/31     9
31    1/1    10
32    1/2    10
33    1/3     8
34    1/4     8
35    1/5     9
36    1/6     9
37    1/7     8

In [9]:
import sqlite3
import pandas as pd

# CSVファイルのパス
file_path = '/Users/hayakawafutaba/Lecture/DSPR/DS_Pro/local/local.csv'  

# CSVファイルの読み込み
df = pd.read_csv(file_path)

# SQLiteデータベースの作成（または接続）
conn = sqlite3.connect('local.db')  

# カーソルの作成
cursor = conn.cursor()

# テーブルの作成
cursor.execute('''
    CREATE TABLE IF NOT EXISTS sleep_data (
        date TEXT,
        sleep_hours INTEGER
    )
''')

# CSVからデータを読み込み、データベースに挿入
df.to_sql('sleep_data', conn, if_exists='replace', index=False)

# 挿入されたデータの確認
cursor.execute('SELECT * FROM sleep_data')
inserted_data = cursor.fetchall()
for row in inserted_data:
    print(row)

# データベースとの接続を閉じる
conn.close()

('12/1', 8)
('12/2', 6)
('12/3', 7)
('12/4', 5)
('12/5', 7)
('12/6', 8)
('12/7', 6)
('12/8', 6)
('12/9', 6)
('12/10', 7)
('12/11', 5)
('12/12', 4)
('12/13', 6)
('12/14', 6)
('12/15', 7)
('12/16', 12)
('12/17', 8)
('12/18', 8)
('12/19', 6)
('12/20', 6)
('12/21', 5)
('12/22', 2)
('12/23', 2)
('12/24', 11)
('12/25', 9)
('12/26', 8)
('12/27', 9)
('12/28', 9)
('12/29', 9)
('12/30', 9)
('12/31', 9)
('1/1', 10)
('1/2', 10)
('1/3', 8)
('1/4', 8)
('1/5', 9)
('1/6', 9)
('1/7', 8)